<footer>
  <div class="row upperFooter">
    <div class="container">
      <div
        class="row items d-flex flex-row justify-content-center align-items-center py-5"
      >
        <div class="col-md-4 text-center mx-auto py-5">
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
        <div class="col-md-4 text-center mx-auto py-5">
          <h3>AROUND THE WEB</h3>
          <div
            class="d-flex flex-row justify-content-center align-items-center"
          >
            <i class="fa-brands fa-facebook fs-5"></i>
            <i class="fa-brands fa-twitter fs-5"></i>
            <i class="fa-brands fa-linkedin-in fs-5"></i>
            <i class="fa-solid fa-globe fs-5"></i>
          </div>
        </div>
        <div class="col-md-4 text-center mx-auto py-5">
          <h3>ABOUT FREELANCER</h3>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row lowerFooter">
    <div class="container">
      <div class="footer text-center text-white py-4">
        <p class="mb-0">Copyright © Your Website 2021</p>
      </div>
    </div>
  </div>
</footer>
