<section class="d-flex align-items-center justify-content-center py-5">
  <div class="row py-5">
    <div class="container mx-auto py-5">
      <div class="title py-5">
        <h2 class="text-center my-5">ABOUT COMPONENT</h2>
        <div
          class="icon d-flex flex-row justify-content-center align-items-center my-3"
        >
          <div></div>
          <i class="fa-solid fa-star text-white mx-3"></i>
          <div></div>
        </div>
      </div>
      <div
        class="decsription d-flex flex-row justify-content-center px-5 text-white"
      >
        <div>
          <p class="pb-5 mb-5 me-4 pe-4 mx-auto">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
        <div>
          <p class="pb-5 mb-5 pe-4 mx-auto">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
