html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
section .row .container {
  width: 80%;
  margin: 0 auto;
}

section .row .container .title h2 {
  font-size: 40px;
  font-weight: 700;
  color: #2c3e50;
}
section .row .container .title .icon div {
  width: 100px;
  height: 5px;
  background-color: #2c3e50;
}
section .row .container .title .icon i {
  color: #2c3e50;
}
section .row .container .items .myItems div {
  width: 90%;
}
section .row .container .items .myItems div img {
  width: 100%;
}
section .row .container .items .myItems div .layer {
  background-color: #23ba9c;
  opacity: 0;
  cursor: pointer;
}
section .row .container .items .myItems div:hover .layer {
  opacity: 0.9;
}

.modal .modal-dialog .modal-body .imageLayer {
  width: 40%;
}
/* .modal .modal-dialog .modal-body .closeIcon .fa-xmark {
  top: -40px;
} */
