<section>
  <div class="row">
    <div class="container mx-auto py-5">
      <div class="mainPage">
        <div class="text-center p-5">
          <img
            src="/image/avataaars.svg"
            alt="avatar-image"
            class="w-25 mt-5 py-2"
          />
          <div class="title py-3">
            <h2 class="">START FRAMEWORK</h2>
            <div
              class="icon d-flex flex-row justify-content-center align-items-center my-3"
            >
              <div></div>
              <i class="fa-solid fa-star text-white mx-3"></i>
              <div></div>
            </div>
          </div>
          <div>
            <p class="text-white p-0 m-0">
              Graphic Artist - Web Designer - Illustrator
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
